#nav{
    background-color: #444;
    padding: 3px;
    display: inline-flex;

}


#nav ul{
    padding: 0px;
    margin: 0px;
}
li {
    list-style:none;
    padding: 10px;
    margin: 10px;
    color: white;
}
a:visited {
    color: white;
}
a:hover{
    color: aquamarine;
}

